@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

/*
  --------  DEFAULT (MOBILE) STYLES --------
*/
body {
  margin: 0;
  padding: 0;
  color: #0b1942;
  font-family: "PT Sans", sans-serif;
}
h1 {
  padding-left: 20px;
  font-weight: lighter;
}
h2 {
  color: #ffffff;
  background-color: #0b1942;
}

header {
  color: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100vw;
  height: 150px;
}
.logo {
  background-color: #F5005B;
  padding: 10px;
  flex: 0 0 30%;
  text-align: center;
}
header img {
  width: auto;
  height: 130px;
}
header a, footer a {
  color: #ffffff;
  text-decoration: none;
}
nav {
  flex: 1 0 auto;
  background-color: #7DDFE8;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

nav div {
  flex: 1 0 auto;
}
nav p, footer p {
  padding: 15px 0;
  margin: 0;
}

.nav-home {
  background-color: #00A5BF;
}

.nav-calendar {
  background-color: #00B7D3;
}

.nav-join {
  background-color: #00D5E7;
}

.main-p {
  padding: 0 20px;
}

.main-container {
  background-color: #0B1942;
  color: #ffffff;
  padding: 15px;
}
.main-container-calendar {
  background-color: #0B1942;
  color: #ffffff;
  padding: 20px 0;
}
.main-header {
  padding-left: 20px;
  font-size: 2em;
}

.film-top {
  margin: 20px 0;
  background-color: #E2E2E2;
  color: #0B1942;
  display: flex;
  flex-flow: row nowrap;
}
.upnext-img > img {
  width: calc(100% - 20px);
  height: auto;
  padding: 10px
  /*float: left;*/
}

.upnext-img {
  text-align: center;
  flex: 0 1 40%;
}
.upnext-info {
  flex: 0 1 60%;
}
.main-container a {
  color: #00B7D3;
}
.upnext-info > p {
  padding-bottom: 20px;
  border-bottom: 1px solid #0B1942;
}

.upnext-info > ul {
  list-style: circle;
}
.films-upcoming {
  margin: 20px 0;
  background-color: #E2E2E2;
  display: flex;
  flex-flow: row wrap;
}
.film-small {
  flex: 0 1 44%;
  padding: 10px;
  color: #0B1942;
}
.film-small > img {
  width: calc(100% - 20px);
}

.calendar-container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
}
.calendar-day {
  background-color: #ffffff;
  margin: 2px;
  flex: 0 1 calc(100% / 7 - 4px);
  height: 4em;
}
.highlighted {
  background-color: #F5005B;
  cursor: pointer;
}
.calendar-date {
  margin: 0;
  padding: 4px 6px 4px 2px;
  background-color: #0B1942;
  display: inline-block;
}
form {
  padding: 20px;
}
form div {
  margin: 20px 0;
}
input[type="file"] {
  font-size: 0.8em;
}
.profile-pic-box {
  width: 100%;
  height: calc(100vw - 40px);
  border-radius: 50%;
  background: url(../images/profile-placeholder.png) no-repeat bottom center/contain;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid lightgrey;
  font-size: 1em;
  line-height: 2rem;
  width:100%;
}
textarea {
  width: 100%;
  border: 1px solid lightgrey;
}
input[type="submit"] {
  background-color: #F5005B;
  border: none;
  padding: 25px;
  font-size: 1em;
  color: #ffffff;
}

.foot-text {
  background-color: transparent;
  flex: 1 0 auto;
  color: #ffffff;
}
/* ------------------ BEGIN TABLET MEDIA QUERY --------------------- */
@media (min-width: 454px) and (max-width: 768px) {
  .logo {
    background-color: #F5005B;
    padding: 10px;
    flex: 0 1 auto;
    text-align: center;
    align-self: auto;
  }
  nav {
    flex: 1 0 75%;
    background-color: #7DDFE8;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: flex-start;*/
    align-content: flex-start;
  }
  nav div {
    flex: 0 1 120px;
    /*align-self: flex-start;*/
  }
  nav p, footer p {
    padding: 65px 0;
  }

  footer {
    /*height: 200px;*/
    background-color: #7DDFE8;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
  }
  footer div {
    flex: 0 1 20%;
  }
  .foot-text {
    background-color: transparent;
    flex: 1 0 auto;
    color: #ffffff;
  }
  .film-small {
    flex: 0 1 22%;
    padding: 10px;
    color: #0B1942;
  }
  .film-small > img {
    width: calc(100% - 20px);
  }
  .calendar-day {
    height: 6em;
  }

  .join-form {
    display: flex;
    flex-flow: column;
  }

  .form-personal {
    display: flex;
  }
  .profile-pic {
    flex: 1 1 50%;
  }
  .profile-pic-box {
    width: calc(50vw - 40px);
    height: calc(50vw - 40px);
    margin: 0;
    background: url(../images/profile-placeholder.png) no-repeat bottom center/cover;
  }
  .profile-info {
    flex: 1 1 50%;
    line-height: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .form-interests {
    line-height: 1rem;
    display: flex;
    flex-flow: row wrap;
    /*height: 50vw;*/
  }
  .form-interests p {
    flex: 0 1 50%;
  }
  .form-interests > label {
    flex: 1 0 100%;
  }
} /* ----------------- END OF TABLET MEDIA QUERY ------------------- */

/* ----------------- BEGIN DESKTOP MEDIA QUERY ------------------- */
@media (min-width: 769px) {
  .logo {
    background-color: #F5005B;
    padding: 10px;
    flex: 0 1 auto;
    text-align: center;
    align-self: auto;
  }
  nav {
    flex: 1 0 75%;
    background-color: #7DDFE8;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: flex-start;*/
    align-content: flex-start;
  }
  nav div {
    flex: 0 1 120px;
    /*align-self: flex-start;*/
  }
  nav p, footer p {
    padding: 65px 0;
  }

  footer {
    /*height: 200px;*/
    background-color: #7DDFE8;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
  }
  footer div {
    flex: 0 1 20%;
  }
  .foot-text {
    text-align: right;
    padding-right: 20px;
    background-color: transparent;
    flex: 1 0 auto;
    color: #ffffff;
  }
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  main > h1 {
    flex: 1 0 100%;
  }
  .main-p {
    flex: 1 1 25%;
  }
  .main-container {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
  }
  .main-container > h1 {
    flex: 1 1 100%;
  }

  .film-top {
    flex: 1 1 40%;
    align-self: flex-start;
    margin: 20px 10px;
  }

  .films-upcoming {
    flex: 1 1 40%;
    margin: 20px 10px;
    background-color: #E2E2E2;
    display: flex;
    flex-flow: row wrap;
  }
  .film-small {
    flex: 0 1 45%;
    padding: 10px;
    color: #0B1942;
  }
  .film-small > img {
    width: calc(100% - 20px);
  }
  .calendar-day {
    height: 8em;
  }
  .form-personal {
    display: flex;
  }
  .profile-pic {
    flex: 0 1 33%;
  }
  .profile-pic-box {
    width: calc(33vw - 40px);
    height: calc(33vw - 40px);
    margin: 0;
    background: url(../images/profile-placeholder.png) no-repeat bottom center/cover;
  }
  .profile-info {
    flex: 1 1 66%;
    line-height: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}
